{% extends "TheCometCultCommunityBundle::layout.html.twig" %}

{% set page_title = 'About' %}
{% set page_class = 'about' %}

{% block content %}
<div class="wrapper clearfix">
    <section>
        <h2>Oh! What’s that little site full of good looking and smart people?</h2>

        <p>On January 1st 2014, Bulgarian and Romanian citizens were finally granted the full right to work across the EU. This generated some uncool reactions as some people were really scared of all the "beggars, thieves, and beneficiaries that could possibly invade their countries.</p>

        <p>For all third culture kids, travellers and talented young professionals, it gets tiring to always see the bottom of the pyramid represented. So we decided to launch a fun little website, showing the other side of the Bulgarian and Romanian story - the doers, the makers, the hustlers.</p>

        <h2>Why are we calling it beggars.co?</h2>

        <p>Surely this might sound a little offensive to some of you. But we trust your sense of humour and taste for good old British sarcasm.</p>

        <p>Perhaps the core problem is Eastern Europe’s brand and its perceptional diptych. Historically, Eastern Europeans have had a depreciating view of themselves, always competing with the West, both economically and ideologically. Of course, it doesn’t help that this is also how some Westerns still picture Bulgarians and Romanians - poor, uneducated and somewhat ingenious.</p>

        <p>To change this status quo, we decided to create a virtual collection of young people creating positive impact around the world (and even paying taxes). Maybe it’s time to start looking forward, with a smile, rather than encapsulating ourselves in dusty stereotypes.</p>

        <p>Beggars.co’s brand is fluid, changing based on the types of people that add themselves to the website. As more and more people add their name (and face) we paint a diversified picture of Romanians and Bulgarians living abroad. We hope you enjoy this tongue in cheek side project that recognises a social problem while celebrating the reality.</p>

        <h2>Who are we and why did we make this?</h2>

        <p>We wanted to find a simple, entertaining, and super visual way to show the diversity and positivity that can and should surround Romanians and Bulgarians abroad. This project is the brainchild of <a href="https://twitter.com/horiacernusca">Horia</a> and <a href="https://twitter.com/vicky_stoyanova">Victoria</a>. We work with technology every single day, so we thought making a tech answer to the problem was the best approach. Horia spends his days building the future of visual commutations with <a href="http://beta.swipe.to">Swipe</a>, while Victoria spends her days connecting and empowering the creative and entrepreneurial communities at <a href="http://www.up.co">Up Global</a> and <a href="http://creativemornings.com">CreativeMornings</a>.</p>

        <h2>How can I yell at you guys / help you guys?</h2>

        <p>Get in touch with us at <a href="mailto:hello@beggars.co">hello@beggars.co</a>, we'd love to hear what you think and we'd love to get your help! If you have any idea at all around this project and see a way you can contribute, please get in touch, we'll make sure to answer everyone. Tweet to <a href="https://twitter.com/beggarsdotco">@beggarsdotco</a> and find us on <a href="https://www.facebook.com/beggarsdotco">Facebook</a>!</p>

        <h2>What happens next?</h2>

        <p>We are big believers in community. This is why we're going to open source everything so you can build your own visual petitions for any cause you'd want. We have some exciting ideas that we can't wait to share with you. Get in touch if you'd like to help and know more.</p>

        <p>Happy days.</p>
    </section>
</div>

{% endblock %}
