<section class="description column">
    <h2>{{ membersNumber }}</h2>
    <p>Awesome Romanians and Bulgarians doing great things around the world. Want to know more? <a href="{{ path('the_comet_cult_community_about') }}">Here's the whole story behind this project</a>.</p>
</section>