<div class="wrapper">
    <section class="additional">
        <ul>
            <li><p>&copy; 2014 Concept by a <a href="http://twitter.com/horiacernusca">Romanian guy</a> and a <a href="http://twitter.com/vicky_stoyanova">Bulgarian girl</a>, developed by a <a href="http://twitter.com/kubabartwicki">Polish guy</a> and <a href="http://thecometcult.com">a bunch of astrounauts</a>.</p></li>
        </ul>
    </section>
    <section class="meta">
        <ul>
            <li><div class="fb-share-button" data-href="http://beggars.co/" data-type="button_count"></div></li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://beggars.co/" data-via="beggarsandco">Tweet</a>
            <li>
                <!-- Begin MailChimp Signup Form -->
                <form action="http://beggars.us3.list-manage.com/subscribe/post?u=c49ff1b317db2e0a0c340e30f&amp;id=9fef3037a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="required email text" placeholder="Sign up for the newsletter" id="mce-EMAIL">
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c49ff1b317db2e0a0c340e30f_9fef3037a4" value=""></div>
                    <input type="submit" value="Add" name="subscribe" id="mc-embedded-subscribe" class="submit">
                </form>
            </li>
        </ul>
    </section>
</div>
