<div class="wrapper">
    <section class="name column">
        <h1><a href="{{ path('the_comet_cult_community_homepage') }}"><s>Beggars</s>, <s>thieves</s>, <br> &amp; <br> <span id="title">engineers</span>.</a></h1>
    </section>
    {{ render(controller('TheCometCultCommunityBundle:Home:membersCounter')) }}
    <section class="join column">
        <h3>Join us!</h3>
        <p>Add your lovely face to the growing list of Bulgarians and Romanians doing cool stuff around the world.</p>
        <a href="#" class="button">+ Add yourself to the list</a>
    </section>
    <nav class="menu column">
        <ul class="pages">
            <li><a href="{{ path('the_comet_cult_community_about') }}">About</a></li>
            <li><a href="mailto:hello@beggars.co">Contact / Contribute</a></li>
            <li><a href="https://www.facebook.com/beggarsdotco">Facebook</a></li>
            <li><a href="https://twitter.com/beggarsdotco">Twitter</a></li>
        </ul>
    </section>
</div>
{{ render(controller('TheCometCultCommunityBundle:Home:membershipForm')) }}
