<div class="wrapper">
    <section class="name column">
        <h1><a href="{{ path('the_comet_cult_community_homepage') }}"><s>Beggars</s>, <s>thieves</s>, &amp; <span id="title">engineers</span>.</a></h1>
    </section>
    <section class="description column">
        <h2>{{ membersNumber }}</h2>
        <p>Romanian and Bulgarian citizens that impact your community in a positive way. Opportunists may call us nations of <s>beggars</s> and <s>thieves</s>, we are here to show a different side of the story.</p>
    </section>
    <section class="join column">
        <h3>Join us &amp; sign up:</h3>
        <p>Are you a citizen of Romania or Bulgaria who lives or has previously lived abroad?</p>
        <a href="#" class="button">+ Add yourself to the list</a>
    </section>
    <nav class="menu column">
        <ul class="pages">
            <li><a href="{{ path('the_comet_cult_community_about') }}">About</a></li>
            <li><a href="mailto:horia@swipe.to">Contact / Contribute</a></li>
            <li><a href="https://www.facebook.com/beggarsandco">Facebook</a></li>
            <li><a href="https://twitter.com/beggarsandco">Twitter</a></li>
        </ul>
    </section>
</div>
<section class="form">
    <form name="form-signup" id="form-signup" action="/" method="POST" class="wrapper">
        <fieldset class="connect-facebook">
            <div class="not-authorized">
                <label>Step 1</label>
                <button class="button" type="button">
                    <span class="ss-facebook"></span>Connect with Facebook
                </button>
            </div>
            <div class="authorized" style="display: none;">
                <label>Step 1</label>
                <img src="" class="fb-avatar">
                <p class="fb-info"><span class="fb-name"></span>, <span class="fb-age"></span></p>
                <input type="hidden" name="fb-id" id="fb-id">
                <input type="hidden" name="fb-age" id="fb-age">
                <input type="hidden" name="fb-name" id="fb-name">
            </div>
        </fieldset>
        <fieldset class="bio">
            <label for="bio-text">Step 2</label>
            <textarea name="bio-text" id="bio-text" rows="5" placeholder="Write a brief bio, what do you do, where do you work, etc."></textarea>
            <span class="counter">140</span>
        </fieldset>
        <fieldset class="countries">
            <label for="country-from">Step 3</label>
            <input type="text" id="country-from" name="country-from" placeholder="Where are you from?">
            <input type="text" id="country-live" name="country-live" placeholder="Where do you or did you live abroad?">
        </fieldset>
        <fieldset class="add-to-list">
            <label>Step 4</label>
            <button class="button" disabled>
                <span class="ss-pika ss-icon">check</span>
                Add me to the list!
            </button>
        </fieldset>
    </form>
</section>
